@import "else";
@import "swiper-bundle";
@import "fresco";
//@import "aos";

// FONTS LOAD SECTION
$fontsize: 18px; // Body Font Size
$lineheight: 1.65; // Document Line Height
$userfont: noah-oh5, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
@mixin font($fname, $fstyle, $fweight, $furl){
  @font-face{
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format('woff2');
  }

}

// GENERAL DOCUMENT STYLES
* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.locked{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.btn-primary{
  position: relative;
  overflow: hidden;
  a{
    position: relative;
    border: none;
  }
  &:hover{
    &:before{
      transform: translateX(-10px);
    }
  }
  &:before{
    position: absolute;
    transition: ease-in 0.3s;
    content: "";
    display: block;
    transform: translateX(calc(100% + 20px));
    top: 0;
    left: 0;
    width: calc(100% + 20px);
    height: 100%;
    z-index: 0;
    border-top: 60px solid #3EAAD6;
    border-left: 12px solid transparent;
    border-bottom: 0;
    border-right: 0;
  }
}

.btn-secondary{
  position: relative;
  overflow: hidden;
  border: none;
  span{
    position: relative;
    transition: 0.3s;
  }
  &:hover{
    &:before{
      transform: translateX(-15px);
    }
    span{
      color: white;
    }
  }
  &:before{
    position: absolute;
    transition: ease-in 0.3s;
    content: "";
    display: block;
    transform: translateX(calc(100% + 20px));
    top: 0;
    left: 0;
    width: calc(100% + 20px);
    height: 100%;
    z-index: 0;
    border-top: 60px solid #3EAAD6;
    border-left: 12px solid transparent;
    border-bottom: 0;
    border-right: 0;
  }
}

.content-container{
  max-width: 1600px;
  padding-left: 170px;
  padding-right: 170px;
  margin: auto;
  @media all and (max-width: 1600px){
    padding-left: 0;
    padding-right: 0;
  }
}
.big-container{
  max-width: 1620px;
  width: 100%;
  margin: auto;
  padding: 0 50px;
  @media all and (max-width: 500px){
    padding: 0 20px;
  }
}
#Page-menu{
  padding: 0;
  margin: 0;
  @media all and (max-width: 500px){
    width: 100%;
  }
  li{
    list-style: none;
    transition: 0.3s;
    @media all and (max-width: 600px){
      width: 33.3%;
      a{
        width: 100%;
        justify-content: center;
      }
    }
    &:hover{
      background-color: #3EAAD6;
    }
    a{
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-flex;
      height: 100%;
      align-items: center;
      padding: 24px 33px;
      min-width: auto;
      @media all and (max-width: 600px){
        font-size: 12px;
        line-height: 12px;
      }
      @media all and (max-width: 500px){
        font-size: 10px;
        padding: 19px 21px 18px 21px;
      }
    }
    &.current_page_item{
      background-color: white;
      a{
        color: #191919;
      }
    }
  }
}
.header{
  &__container{
    &.big-container{
      @media all and (max-width: 500px){
        padding: 0;
      }
    }
  }
  &__nav{
    .navbar-nav{

    }
    .navbar-brand{
      padding-top: 35px;
      padding-bottom: 33px;
    }
    .button-list{
      padding-top: 0;
    }
  }
}
header{
  .mobile-header-buttons{
    display: none;
    order: 6;
    @media all and (max-width: 1000px){
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100% !important;
      a{
        margin: 10px 10px;
        width: 200px;
        text-align: center;
        display: block!important;
      }
    }
    @media all and (max-width: 500px){
      a{
        width: 100%;
      }
    }
  }
  .navbar-brand{
    svg{
      @media all and (max-width: 500px){
        height: 19px;
      }
    }
  }
  .mobile-header-socials{
    display: none;
    @media all and (max-width: 768px){
      display: flex;
      order: 5;
      justify-content: center;
      a{
        margin: 70px 9px 0 9px;
        flex: none!important;
      }
    }
  }
  .header-socials{
    @media all and (max-width: 768px){
      display: none;
    }
  }
  .menu-burger{
    .burger-all-menu{
      @media all and (max-width: 1000px){
        height: calc(100vh - 176px);
        overflow: scroll;
        flex-wrap: wrap;
        margin-top: 20px;
        padding-bottom: 40px;
        > div{
          width: 50%;
        }
      }
      @media all and (max-width: 600px){
        > div{
          width: 100%;
          padding-bottom: 0!important;
          padding-top: 24px!important;
          &.bigmenu{
            order: 4;
          }
          &.o-klube{
            order: 1;
            padding-top: 40px!important;
          }
          &.trenirovki{
            order: 2;
          }
          &.siloviy{
            order: 3;
          }
          .list-unstyled {
            margin-bottom: 0;

            a, p {
              font-size: 24px;
            }
            a{
              padding-bottom: 0!important;
            }
            p {
              margin-bottom: 0 !important;
              padding-bottom: 0!important;
            }

            &.think-style {
              a {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    .container{
      @media all and (max-width: 1200px){
        max-width: 100%;
        padding: 0 50px;
      }
      @media all and (max-width: 500px){
        padding: 0 20px;
      }
    }
    .list-unstyled{
      &.think-style{
        li{
          a{
            @media all and (max-width: 1200px){
              font-size: 16px;
            }
          }
        }
      }
      li{
        a, p{
          @media all and (max-width: 1200px){
            text-align: left;
            padding-top: 10px!important;
            padding-bottom: 10px!important;
            font-size: 20px;
            line-height: 122%;
          }
        }
      }
    }
  }
  #qtranslate-2{
    margin-right: 125px;
    @media all and (max-width: 1200px){
      margin-right: 20px;
    }
    @media all and (max-width: 900px){
      display: none;
    }
    select{
      cursor: pointer;
      border: none;
      color: #FFFFFF;
      background-color: transparent;
      padding-right: 6px;
      option{
        color: #FFFFFF;
        background-color: #1D8FBD;
      }
    }
    .language-chooser{
      background-color: #1D8FBD;
    }
  }
  .mobile-language{
    display: none;
    @media all and (max-width: 900px){
      display: inline-block;
      #qtranslate-3{
        display: inline-block;
        .language-chooser{
          background-color: transparent;
          padding-left: 0;
          li{
            a{
              text-decoration: none;
            }
            &.active{
              a{
                text-decoration: underline;
                color: black;
              }
            }
          }
        }
      }
    }
  }
  .mobile-search-call{
    display: none;
    @media all and (max-width: 992px){
      display: flex;
      align-items: center;
      svg{
        height: 20px;
        width: auto;
        margin-left: 16px;
      }
    }
    @media all and (max-width: 500px){
      svg{
        height: auto;
        width: auto;
      }
    }
  }
  .search-btn{
    width: auto;
    margin-right: 31px;
    cursor: pointer;
    display: flex;
    align-items: center;
    @media all and (max-width: 992px){
      display: none;
    }
  }
  .navbar-nav{
    .nav-item .else-btn{
      padding: 16px 44px 13px 44px;
      &:before{
        display: none;
      }
      @media all and (max-width: 1200px){
        padding: 16px 20px 13px 20px;
      }
    }
  }
  .nav-item.dropdown{
    &:hover{
      .dropdown-menu{
        display: block;
      }
    }
  }
  .btn-group{
    a{
      padding-right: 0;
      padding-left: 1rem;
    }
    .socials-icon{
      margin-left: 1rem!important;
      padding-left: 0;
    }
  }
  .qtranxs_widget{
    li{
      list-style: none;
    }
    display: inline-block;
    width: auto;
  }
}
#carouselVideoSlider{
  .swiper-slide{
    position: relative;
    &:hover{
      svg{
        transform: scale(1.1);
      }
    }
    svg{
      transition: 0.3s;
      position: absolute;
      top: calc(50% - 32px);
      left: calc(50% - 25px);
    }
  }
}
.tabs-content{
  .lead{
    cursor: pointer;
    &.current{
      span{
        color: #1d8fbd;
      }
    }
  }
  .hidden{
    display: none;
  }
}
.phone-img-container{
  position: relative;
  overflow: visible;
  .left-phone-img{
    position: absolute;
    bottom: -190px;
    left: -226px;
  }
}
.apps-section{
  .text-part{
    padding-top: 80px;
    p{
      line-height: 1.6;
      font-weight: 300;
    }
  }
}
.reviewes{
  overflow: hidden;
  #carouselReview{
    overflow: visible;
    max-width: 1320px;
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
    margin: 30px auto 0 auto;
    .swiper-slide{
      opacity: 0.3;
      transition: 0.3s;
      &.swiper-slide-active{
        opacity: 1;
      }
      .ramka{
        height: 100%;
        svg{
          width: 100%;
          height: auto;
        }
      }
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .review_cont{
    padding-left: 0;
  }
}
.about{
  &__content{
    padding-top: 170px;
  }
  &__title{
    text-align: center;
    margin-bottom: 100px;
  }
  &__cases{

  }
  &__item{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
    &-title{
      text-transform: uppercase;
    }
    &:nth-child(odd){
      .about__text-part{
        padding-right: 117px;
        @media all and (max-width: 1600px){
          padding-left: 170px;
        }
      }
      .ramka{
        left: -10px;
      }
      .about__img-part{
        padding-left: 20px;
      }
    }
    &:nth-child(even){
      flex-direction: row-reverse;
      .about__text-part{
        padding-left: 117px;
        @media all and (max-width: 1600px){
          padding-right: 170px;
        }
      }
      .ramka{
        left: 10px;
      }
      .about__img-part{
        padding-right: 20px;
      }
    }
  }
  &__text-part{
    width: 50%;

  }
  &__img-part{
    width: 50%;
    position: relative;
    .ramka{
      height: 100%;
      top: -20px;
      transform: translate(0,0);
      svg{
        width: 100%;
        height: 100%;
      }
    }
    img{
      width: 100%;
      height: auto;
    }
  }
  &__show-item{
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  &__buttons{
    display: flex;
    justify-content: center;
    a{
      margin: 0 15px;
    }
  }
}
.partners{
  padding-top: 130px;
  padding-bottom: 167px;
  .section{
    padding-top: 60px;
  }
  &__title{
    text-align: center;
  }
  img{
    height: 70px;
    width: auto;
    filter: grayscale(100%);
    opacity: 0.5;
  }
}
.type-trening{
  background-color: #1D8FBD;
  &__container{
    display: flex;
    justify-content: space-between;
    padding-top: 196px;
    padding-bottom: 176px;
    @media all and (max-width: 1600px){
      padding: 196px 40px 176px 40px;
    }
  }
  &__item{
    width: calc(50% - 20px);
    position: relative;
    .ramka{
      height: 100%;
      svg{
        width: 100%;
        height: 100%;
      }
      rect{
        stroke: #FFFFFF;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img{
      object-fit: cover;
      object-position: top center;
      width: 100%;
      height: 100%;
    }
  }
  &__content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 141px 0;
  }
  &__title{
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    max-width: 400px;
  }
  &__lnk{
    background-color: #FFFFFF;
    border: none;
  }
}
.about-seo{
  margin-top: 162px;

}
.subscription{
  padding-top: 175px;
  @media all and (max-width: 1600px){
    padding-left: 170px;
    padding-right: 170px;
  }
  &__header{
    display: flex;
    align-items: center;
    padding: 41px 0 38px 0;
    border-top: 1px solid #ECECEC;
    cursor: pointer;
    &:hover{
      .subscription__title{
        color: #1D8FBD;
      }
    }
    &:last-child{
      //border-bottom: 1px solid #ECECEC;
    }
    &.open{
      svg{
        transform: rotate(-90deg);
      }
    }
    .counter{
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #1D8FBD;
      margin-right: 24%;
    }
  }
  &__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #191919;
    margin-bottom: 0;
    flex: 1;
    transition: 0.3s;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -40px;
    width: calc(100% + 40px);
  }
  &__list{
    padding-top: 102px;
  }
  &__item{
    margin-right: 40px;
    width: calc(25% - 40px);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin-bottom: 44px;
    &-by{
      margin-top: 30px;
    }
    &-content{
      padding: 32px 31px 48px 31px;
      position: relative;
      overflow: hidden;
    }
    &-absolute{
      position: absolute;
      right: -34px;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 320px;
      line-height: 400px;
      text-align: right;
      color: #F7F7F7;
      z-index: -1;
      &.more-move{
        right: -80px;
      }
    }
    &-title{
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 25px 25px 19px 25px;
      margin-bottom: 0;
    }
    .dlit{
      font-size: 18px;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #191919;
      font-weight: 700;
    }
    .srok{
      font-weight: bolder;
      font-size: 18px;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #191919;
    }
    .price{
      font-weight: bold;
      font-size: 36px;
      line-height: 45px;
      text-align: center;
      color: #E1C91A;
      margin-top: 37px;
    }
  }
}
.specialists{
  padding-bottom: 175px;
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -40px;
    margin-bottom: 40px;
  }
  &__item{
    width: calc(25% - 40px);
    margin-right: 40px;
    margin-bottom: 49px;
    position: relative;
    text-decoration: none;
    &-image{
      img{
        width: 100%;
        height: auto;
      }
    }
    &-name{
      transform: rotate(-90deg);
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;
      color: #FFFFFF;
      position: absolute;
      left: 34px;
      bottom: -30px;
      transform-origin: left;
    }
    &-service{
      position: absolute;
      display: flex;
      flex-direction: column;
      text-align: right;
      top: 21px;
      right: 25px;
      span{
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
        text-align: right;
        letter-spacing: 0.05em;
        color: #FFFFFF;
      }
    }
  }
}
.treners{
  padding-top: 97px;
  .send-wanted{
    margin: 127px auto 0 auto;
  }
  &__header{
    position: relative;
    .move-under{
      position: absolute;
      top: -20px;
      left: 0;
    }
    .untitle-stroke{
      font-weight: 700;
      font-size: 76px;
      line-height: 95px;
      text-transform: uppercase;
      color: transparent;
      -webkit-text-stroke: 1px #1D8FBD;
    }
    h1{
      transform: translateY(0) !important;
      font-weight: 700;
      font-size: 72px!important;
      line-height: 90px;
      text-transform: uppercase;
      color: #1D8FBD;
    }
  }
  &__container{

  }
  &__content{
    display: flex;
    flex-wrap: wrap;
  }
  &__photo{
    width: 40%;
    margin-right: 10%;
  }
  .swiper-slide{
    img{
      width: 100%;
      height: auto;
    }
  }
  &__desc{
    width: 50%;
    &-tags{
      display: flex;
      flex-wrap: wrap;
      margin-top: 48px;
      span{
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #1D8FBD;
        padding: 6px 14px 5px 14px;
        border: 1px solid #1D8FBD;
        margin-right: 12px;
        cursor: pointer;
        text-transform: lowercase;
        margin-bottom: 12px;
      }
    }
    &-socials{
      display: flex;
      margin-top: 41px;
      border-top: 1px solid #ECECEC;
      padding-top: 42px;
      align-items: center;
      a{
        text-decoration: none;
        margin-right: 16px;
        img{
          height: 20px;
          width: auto;
        }
      }
    }
    &-sert{
      padding-top: 59px;
      display: flex;
      flex-wrap: wrap;
      .treners__desc-title{
        width: 100%;
      }
      .sert-item{
        width: 100px;
        height: auto;
        margin-right: 42px;
        margin-bottom: 20px;
        cursor: pointer;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.faq-page{
  .subscription{
    padding-top: 162px;
  }
  .treners__header{
    margin-top: 97px;
    .move-under{
      width: 100%;
      text-align: center;
    }
    h1{
      margin-bottom: 0;
    }
  }
  .subscription{
    &__group{
      .counter{
        width: 24%;
        margin-right: 0;
      }
    }
    &__list{
      padding-left: 24%;
      padding-top: 28px;
      padding-bottom: 74px;
    }
  }
}
.type-icons{
  margin-top: 175px;
  &__container{

  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -40px;
  }
  &__item{
    height: 266px;
    width: calc(25% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #1D8FBD;
    margin-right: 40px;
    margin-bottom: 40px;
  }
  &__title{
    margin-top: 28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #1D8FBD;
    margin-bottom: 0;
  }
  &__img{
    height: 70px;
    width: auto;
    img{
      height: 100%;
      width: auto;
    }
  }
}
.oferta{
  margin-top: 152px;
  &__container{
    display: flex;
    position: relative;
    align-items: flex-start;
  }
  &__nav{
    width: 50%;
    position: sticky;
    top: 80px;
    a{
      text-decoration: none;
      margin-bottom: 12px;
      display: block;
      color: #191919;
      font-weight: 700;
      &:hover{
        color: #1D8FBD;
      }
    }
  }
  &__description{
    width: 50%;
    &-item{
      margin-bottom: 40px;
    }
  }
}
.main-map{
  &__desc{
    padding: 175px 20px 175px calc((100vw - 1260px) / 2);
    p{
      font-weight: 300;
      line-height: 1.6;
      strong{
        font-weight: 700;
      }
    }
  }
}
.footer{
  img{
    width: auto!important;
    height: auto!important;
  }
}





