@import "else";
@import "swiper-bundle";
//@import "aos";
@import "fresco";
// FONTS LOAD SECTION
$fontsize: 18px; // Body Font Size
$lineheight: 1.65; // Document Line Height
$userfont: noah-oh5, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
@mixin font($fname, $fstyle, $fweight, $furl){
  @font-face{
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format('woff2');
  }

}


@include font('noah-oh5', normal, 400, '../../fonts/Noah-Regular.woff2')
@include font('noah-oh5', italic, 400, '../../fonts/Noah-RegularItalic.woff2')
@include font('noah-oh5', normal, 700, '../../fonts/Noah-Bold.woff2')
@include font('noah-oh5', italic, 700, '../../fonts/Noah-BoldItalic.woff2')

// GENERAL DOCUMENT STYLES
* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

#Page-menu{
  padding: 0;
  margin: 0;
  li{
    list-style: none;
    a{
      padding: 24px 33px;
      min-width: auto;
    }
    &.current_page_item{
      background-color: white;
      a{
        color: #191919;
      }
    }
  }
}
header{
  .btn-group{
    a{
      padding-right: 0;
      padding-left: 1rem;
    }
    .socials-icon{
      margin-left: 1rem!important;
      padding-left: 0;
    }
  }
 }
#carouselVideoSlider{
  .swiper-slide{
    position: relative;
    &:hover{
      svg{
        transform: scale(1.1);
      }
    }
    svg{
      transition: 0.3s;
      position: absolute;
      top: calc(50% - 32px);
      left: calc(50% - 25px);
    }
  }
}
.tabs-content{
  .lead{
    cursor: pointer;
  }
  .hidden{
    display: none;
  }
}





